<section class="row fixed-background section-1">
  <div class="container section-1-content">
    <h1> Section 1</h1>
  </div>
</section>

<section class="row fixed-background section-2">
  <div class="container section-1-content">
    <h3> Section 2</h3>
    <div class="row">

      <div class="card col-md-4 col-sm-6 col-12 category-card" style="width: 18rem;">
        <div class="category-title blur">
        </div>
        <div class="category-title">
          <h3>Cat -1</h3>
        </div>
        <img src="assets/images/cat-2.jpeg" class="card-img" alt="...">
        <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--</div>-->
      </div>

      <div class="card col-md-4 col-sm-6 col-12 category-card" style="width: 18rem;">
        <div class="category-title blur">
        </div>
        <div class="category-title">
          <h3>Cat -2</h3>
        </div>
        <img src="assets/images/cat-2.jpeg" class="card-img" alt="...">
        <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--</div>-->
      </div>

      <div class="card col-md-4 col-sm-6 col-12 category-card" style="width: 18rem;">
        <div class="category-title blur">
        </div>
        <div class="category-title">
          <h3>Cat -3</h3>
        </div>
        <img src="assets/images/cat-2.jpeg" class="card-img" alt="...">
        <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--</div>-->
      </div>

      <div class="card col-md-4 col-sm-6 col-12 category-card" style="width: 18rem;">
        <div class="category-title blur">
        </div>
        <div class="category-title">
          <h3>Cat -4</h3>
        </div>
        <img src="assets/images/cat-2.jpeg" class="card-img" alt="...">
        <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--</div>-->
      </div>
      <div class="card col-md-4 col-sm-6 col-12 category-card" style="width: 18rem;">
        <div class="category-title blur">
        </div>
        <div class="category-title">
          <h3>Cat -5</h3>
        </div>
        <img src="assets/images/cat-2.jpeg" class="card-img" alt="...">
        <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--</div>-->
      </div>

    </div>

  </div>
</section>

<app-footer></app-footer>
